@font-face {
  font-family: "JetBrains";
  src: local("JetBrains"),
    url("assets/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  /* font-family: "JetBrains"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  span, p, a {
    margin: 0;
  }

  ul, nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img {
    display: block;
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
